
.media_banner{
    background: linear-gradient(rgba(17, 69, 128, 0.356),#000000bb),url(../images/media.jpg);
    height: 40vh;
    background-position: right;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallerie_banner p{
    text-transform: uppercase;
    font-size: 40px;
    color: var(--blanc);
    font-family: 'font2';
}

section.media{
    padding: 0 10px;
    /* margin: 30px 0; */
}
section.media .media_liens{
    margin-top: 45px;
    gap: 95px;
}
section.media .media_liens a{
    text-decoration: none;
}



    