
.media_banner{
    background: linear-gradient(rgba(17, 69, 128, 0.356),#000000bb),url(../images/media.jpg);
    height: 40vh;
    background-position: right;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.media_banner p{
    text-transform: uppercase;
    font-size: 20px;
    color: var(--blanc);
    font-family: 'font2';
    text-align: center;
}



.medias{
    padding: 0 70px;
    margin: 70px;
    /* display: none; */
}
.medias .pub_info{
   display: flex;
   justify-content: center !important;
}

.medias .col{
    filter: drop-shadow(3px 3px 3px #ccc);
}

.medias video{
    width: 230px;
    border: none;
}

/* responsive*/ 

@media screen and  (max-width: 480px){
    .medias{
        /* background-color: red; */
        margin: 0;
        padding: 0 10px !important;
        /* width: 100%; */
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .medias .d-flex{
        display: flex;
        flex-direction: column;
    }
    .medias .d-flex .nav{
        display: flex ;
        flex-direction: row 
        !important;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px ;
    }
    .medias  p.small
    {
        margin-bottom: 15px!important;
    }

    .img_row{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .img_row .col{
        width: 100%;
        
    }

    .medias .videos_row{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* padding: 0 15px !important; */
        margin: 0;
        /* width: 100%; */
    }
    .img{
        width: 100%;
    }
    .medias .videos_row .col{
        width: 100%;
        padding: 0 0px !important;
        margin: 0;
    }
    .medias .videos_row video{
        width: 100%;  
        margin: 0;  
    }
}































/* @media only screen and (max-width: 767px){
    .medias{
        padding: 0 10px;
    }

   
    .medias .nav button{
        display: block;
    }
} */





